<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Indonesia geojson collectionn</title>
  </head>
  <body>
    <h1>Indonesia geojson collectionn</h1>
    <ul>
      <li><a href="./api/34.json">Indonesia</a></li>
      <li><a href="./api/34/11.json">Aceh</a></li>
      <li>etc</li>
    </ul>
  </body>
</html>
